// variables
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark_blue: hsl(249, 10%, 26%);
$grayish_blue: hsl(246, 25%, 77%);

// extend
%form-area {
	padding: 1em;
	border: 1px solid $grayish_blue;
	border-radius: 0.5em;
	outline: none;

	&::placeholder {
		font-weight: 600;
		color: $dark_blue;
	}

	&:focus {
		border: 2px solid $dark_blue;
	}
}

// site
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 62.5%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $red;
	background-image: url('../images/bg-intro-mobile.png');
}

main {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.heading {
	max-width: 325px;
	margin: 0 2.5em;
	color: #fff;

	&__text1 {
		font-size: 2rem;
		line-height: 1.3em;
	}

	&__text2 {
		font-size: 1rem;
		font-weight: 400;
		margin: 1.5em 0 3em;
	}
}

.container {
	max-width: 325px;
	margin: 0 2.5em;
}

.trial-info {
	color: #fff;
	background-color: $blue;
	margin-bottom: 3em;
	border-radius: 1em;
	box-shadow: 0px 8px 0px 0px rgba(7, 7, 7, 0.2);

	&__text {
		font-size: 1rem;
		font-weight: 400;
		padding: 1em 3em;

		span {
			font-weight: 700;
		}
	}
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 2em;
	color: $dark_blue;
	background-color: #fff;
	border-radius: 1em;
	box-shadow: 0px 8px 0px 0px rgba(7, 7, 7, 0.2);

	&__first-name,
	&__last-name,
	&__email,
	&__password {
		@extend %form-area;
		// margin-bottom: 1.5em;
		&--error {
			//    visibility: hidden;
			display: none;
			// opacity: 0;
			font-weight: 600;
			font-style: italic;
			text-align: right;
			// margin-bottom: 1.5em;
			color: $red;
		}
	}
	/// REMEMBER, YOU HAVE STOPPED HERE
	&__submit {
		font-weight: 600;
		font-size: 1.4em;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		padding: 1em;
		color: #fff;
		background-color: $green;
		border: none;
		border-radius: 0.5em;
		box-shadow: 0px 4px 0px 0px rgba(45, 186, 62, 1);
		transition: opacity 0.3s;
		cursor: pointer;

		&:hover {
			opacity: 0.6;
		}
	}

	&__terms-text {
		font-size: 1.1em;
		margin: 1em 2em 0;
		///// REMEMBER TO CORRECT THAT MARGIN LATER
		color: $grayish_blue;

		span {
			font-weight: 700;
			color: $red;
		}
	}
}

footer {
	margin-top: 2em;
}

@media (min-width: 768px) {
	body {
		background-image: url('../images/bg-intro-desktop.png');
	}

	main {
		flex-direction: row;
		justify-content: center;
		max-width: 1440px;
	}

	.heading {
		flex-basis: 50%;
		max-width: 540px;
		margin: auto 2.5em;
		text-align: left;

		&__text1 {
			font-size: 3.5rem;
		}
	}

	.container {
		flex-basis: 50%;
		max-width: 540px;
	}

	.contact-form {
		gap: 1.5em;
		padding: 4em;

		&__first-name,
		&__last-name,
		&__email,
		&__password {
			padding: 1.5em;

			&::placeholder {
				font-size: 0.9rem;
			}
		}

		&__submit {
			font-size: 1.5em;
			letter-spacing: 0.07em;
		}

		&__terms-text {
			font-size: 1.2em;
		}
	}
}
